<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
       <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/java-hibernet</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>  <!-- 4 which language we are using-->
        <property name="hibernate.hbm2ddl.auto">create</property>   <!--  create table automatically-->
        <property name="hibernate.show_sql">true</property>   <!-- show sql query in console -->
        <property name="hibernate.format_sql">true</property>   <!-- format sql query in console -->
        <property name="hibernate.use_sql_comments">true</property>  <!-- show sql query in console -->
<!--        <mapping class="com.spring.Student"/>-->
<!--        <mapping class="com.spring.Address"/>-->
<!--        <mapping class="com.maponetoone.Question"/>-->
<!--        <mapping class="com.maponetoone.Answer"/>-->
<!--        <mapping class="com.mapOneToMany.Answer"/>-->
<!--        <mapping class="com.mapOneToMany.Question"/>-->
        <mapping class="com.manytomany.Employee"/>
        <mapping class="com.manytomany.Project"/>


    </session-factory>
</hibernate-configuration>